#table{
    border: 1px solid black;
    height: 150px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    align-content: start;
    gap: 5px;
    
}
.head{
height: 24px;
width: 50px;
border: 1px solid purple;
background-color: deepskyblue;
color: yellow;
}

#header{
    border: 1px solid black;
    height: 150px;
    width: 400px;
    display: flex;
    margin-top: 23px;
    flex-direction: column;
    align-content: start;
    flex-wrap: wrap;
    gap: 5px;
    
}
.head{
height: 24px;
width: 50px;
border: 1px solid purple;
background-color: deepskyblue;
color: yellow;
}