h1{
    color: rgb(8, 8, 211);
}
h3{
    color: rgb(215, 99, 99);
}
p{
    color: #44e855;
}
img{
    color: #d83888;
}
ul{
    color: rgb(222, 12, 12);
}
ol{
    color: #1198c5;
}
table{
    color:rgb(221, 112, 22);
}
body{
    background-color: rgb(210, 235, 248);
}