div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#static{
    background-color: chartreuse;
    position: static;
    top: 45px;
    right: 450px;
}
#relative{
    background-color: red;
    position: relative;
  
    bottom: 23px;
}
#absolute{
    background-color: rebeccapurple;
    position: absolute;
    left: 67px;
}
#fixed{
    background-color: green;
    position: fixed;
    right: 45px;
    bottom: 336px;
}
#sticky{
    background-color: palevioletred;
    position: sticky;
    top: 145px;
}