body {
    background-color: #f6f7f8;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}
/* Facebook */
#head {
    color: #1877f2;
    font-size: 60px;
}
/* paragraph */
#par {
    font-size: 24px;
    color: black;
    line-height: 1.3;
}
/* Login box */
#name {
    background-color: white;
    width: 350px;
    padding: 20px;
    border-radius: 8px;
    text-align: right;
    text-align: center;
    margin-left: 1300px;
}
.input{
  width: 85%;
  padding: 17px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 17px;
}
hr{
    
}

/* Login button */
#button {
    background-color: #1877f2;
    color: white;
    border: none;
    width: 333px;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
}

/* Forgotten password*/
#login {
    text-decoration: none;
    color: #1877f2;
    font-size: 14px;
}

/* Create New account */
#account {
    background-color: #42b72a;
    color: white;
    border:none;
    padding: 12px 15px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
}
#page{
    text-decoration: none;
    color:black;
    font-size: 15px;
}
#paragraph{
    font-size: 18px; 
    margin-left: 1300px;   
}